.category-card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	padding: 20px;
	border-radius: 28px;
	background: #0000000d;

	.category-card-col {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.category-card-content-wrap {
			position: relative;
			padding-bottom: 100%;
			border-radius: 20px;
			overflow: hidden;

			.category-card-content-inner {
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				padding: 20px;
				box-sizing: border-box;

				&.music {
					background: #5c6eff;
				}

				&.game {
					background: #19796a;
				}

				img {
					width: 24px;
					height: 24px;
					margin-bottom: 15px;
				}

				.category-card-title {
					margin-bottom: 18px;
					color: white;
				}

				.category-card-text {
					text-align: left;
					color: white;
					opacity: 0.6;
				}
			}
		}

		.body-category-list-image {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		.body-category-image {
			width: 100%;
			aspect-ratio: 1;
			border-radius: 20px;
		}
	}

	@media (max-width: 1280px) {
		gap: 24px;
		padding: 16px;
		border-radius: 22px;

		.category-card-col {
			gap: 16px;

			.category-card-content-wrap {
				border-radius: 16px;

				.category-card-content-inner {
					padding: 16px;

					img {
						width: 19px;
						height: 19px;
						margin-bottom: 12px;
					}

					.category-card-title {
						margin-bottom: 14px;
					}
				}
			}
		}
	}
}
