.body {
	display: flex;
	gap: 40px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 76px 0;

	.body-aside {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 160px;
		margin-bottom: 20px;

		.body-aside-input {
			display: flex;
			align-items: center;
			gap: 5px;
			padding-bottom: 21px;
			border-bottom: 1px solid #0000001a;

			input {
				flex-grow: 1;
				border: none;
				outline: none;
			}

			input,
			img {
				opacity: 0.2;
			}
		}

		.body-aside-button {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 5px;
			cursor: pointer;

			p {
				text-align: center;
			}

			p,
			img {
				opacity: 0.2;
				transition: opacity 0.3s;
			}

			&:hover,
			&.active {
				p,
				img {
					opacity: 1;
				}
			}
		}

		.body-aside-button-mobile {
			display: none;
		}
	}

	.body-content {
		display: flex;
		flex-direction: column;
		gap: 100px;
		width: calc(100% - 200px);

		.body-game {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.body-game-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.body-game-sort {
					display: none;
					align-items: center;
					padding: 6px 11px;
					border: 1px solid #cccccc;
					border-radius: 2px;
					cursor: pointer;

					p:first-child {
						margin-right: 16px;
					}

					p:nth-child(2) {
						margin-right: 2px;
					}
				}
			}

			.body-game-list {
				width: 100%;
				box-sizing: border-box;
			}
		}

		.body-category {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.body-category-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.body-category-list {
				width: 100%;

				.swiper-pagination {
					display: none;
				}

				.body-category-button-wrap {
					display: none;
					width: 100%;
					height: 50px;
					padding: 0 20px;
					margin-top: 16px;
					box-sizing: border-box;

					button {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;
						width: 100%;
						height: 100%;
						cursor: pointer;
						border-radius: 14px;
						background: #00000005;
						border: 1px solid #00000005;
					}
				}
			}
		}

		.swiper-arrow {
			display: flex;

			button {
				cursor: pointer;

				&.disabled {
					opacity: 0.2;
					pointer-events: none;
				}
			}
		}
	}

	@media (max-width: 1280px) {
		flex-direction: column;
		gap: 0;
		padding: 0 0 13px 0;

		.body-aside {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 0;
			width: 100%;
			height: 80px;
			margin: 0;
			border-bottom: 1px solid #0000001a;

			.body-aside-input {
				display: none;
			}

			.body-aside-button {
				position: relative;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 6px;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: transparent;
				}

				&:last-child {
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 1px;
						width: 1px;
						height: 100%;
						background: #0000001a;
					}
				}

				&:hover,
				&.active {
					&::after {
						background: black;
					}
				}
			}

			.body-aside-button-mobile {
				display: flex;
			}
		}

		.body-content {
			gap: 47px;
			width: 100%;
			padding: 20px 0 14px 0;

			.body-game {
				gap: 32px;

				.body-game-header {
					padding: 0 29px 0 25px;

					.body-game-sort {
						display: flex;
					}
				}

				.body-game-list {
					padding: 0 41px;
				}
			}

			.body-category {
				.body-category-header {
					padding-left: 25px;
				}

				.body-category-list {
					.body-category-button-wrap {
						display: block;
					}

					.swiper-pagination {
						position: static;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 13px;
						margin-top: 19px;

						.swiper-pagination-bullet {
							height: 8px;
							width: 8px;
							margin: 0;
							background: #9b9b9b;
							opacity: 0.5;
						}

						.swiper-pagination-bullet-active {
							position: relative;
							height: 16px;
							width: 16px;
							background-color: transparent;
							border: 1px solid #9b9b9b;
							opacity: 1;

							&::after {
								content: "";
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								height: 10px;
								width: 10px;
								border-radius: 50%;
								background-color: #9b9b9b;
							}
						}
					}
				}
			}

			.swiper-arrow {
				display: none;
			}
		}
	}
}
