.none-scroll {
	overflow: hidden;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

p {
	margin: 0;
}

.p1 {
	font-family: PingFang SC;
	font-size: 15px;
	font-weight: 400;
	line-height: 90px;
	letter-spacing: 0.5px;
	text-align: left;
}

.p2 {
	font-family: PingFang SC;
	font-size: 11.63px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
}

.p3 {
	font-family: PingFang SC;
	font-size: 11.06px;
	font-weight: 400;
	line-height: 14px;
	text-align: left;
}

.p4 {
	font-family: PingFang SC;
	font-size: 13.23px;
	font-weight: 600;
	line-height: 14px;
	text-align: left;
}

.p5 {
	font-family: PingFang SC;
	font-size: 11.81px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;
}

.p6 {
	font-family: PingFang SC;
	font-size: 24.41px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
}

.p7 {
	font-family: PingFang SC;
	font-size: 13.78px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;

	@media (max-width: 1280px) {
		font-size: 10.99px;
		line-height: 15.95px;
	}
}

.p8 {
	font-family: PingFang SC;
	font-size: 15.5px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;

	@media (max-width: 1280px) {
		font-size: 10px;
		line-height: 10px;
	}
}

.p9 {
	font-family: PingFang SC;
	font-size: 28.36px;
	font-weight: 600;
	line-height: 30px;
	text-align: left;

	@media (max-width: 1280px) {
		font-size: 18px;
	}
}

.p10 {
	font-family: PingFang SC;
	font-size: 21.66px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;

	@media (max-width: 1280px) {
		font-size: 17.27px;
		line-height: 12.76px;
	}
}

.p11 {
	font-family: PingFang SC;
	font-size: 19.22px;
	font-weight: 600;
	line-height: 23px;
	text-align: left;

	@media (max-width: 1280px) {
		font-size: 16px;
		line-height: 20px;
	}
}

.p12 {
	font-family: PingFang SC;
	font-size: 13.67px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;

	@media (max-width: 1280px) {
		font-size: 12px;
		line-height: 14px;
	}
}

.p13 {
	font-family: PingFang SC;
	font-size: 12px;
	font-weight: 600;
	line-height: 26px;
	text-align: left;
}

.p14 {
	font-family: PingFang SC;
	font-size: 7.97px;
	font-weight: 600;
	line-height: 26px;
	text-align: left;
}
